{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}Login{% endblock %}

{% block content %}
        <div class="container">
		<h1>Login</h1>
		{{ render_form(form) }}
<!--	<form method="POST" action="{{ url_for('login') }}" novalidate>-->
<!--&lt;!&ndash;		# This is a hidden field to prevent CSRF&ndash;&gt;-->
<!--		{{ form.csrf_token }}-->
<!--&lt;!&ndash;		 # This is a label and a text field&ndash;&gt;-->
<!--		<p>-->
<!--		{{ form.email.label }} <br> {{ form.email(size=20) }}-->
<!--			{% for error in form.email.errors %}-->
<!--				<span style="color:red">{{error}}</span>-->
<!--			{% endfor %}-->
<!--		</p>-->
<!--&lt;!&ndash;		# This is a label and a text field&ndash;&gt;-->
<!--		<p>-->
<!--		{{ form.password.label }} <br> {{ form.password(size=20) }}-->
<!--			{% for error in form.password.errors %}-->
<!--				<span style="color:red">{{error}}</span>-->
<!--			{% endfor %}-->
<!--		</p>-->
<!--&lt;!&ndash;		# This is a submit button&ndash;&gt;-->
<!--		{{ form.submit }}-->
<!--	</form>-->

        </div>
{% endblock %}